body {
	margin:0;
}

.popup{
	  display: none;
	  position: fixed;
	  z-index:11;
	  width: 100%;
	  height: 100%;
	  background: red;
	  left:0;
	  top:0;
	  overflow: auto;
	  background-color: rgba(0,0,0,0.4);
	}
.close {
    color: #aaa;
	font-size:28px;
	font-weight:bold;
	margin-left:auto;
}	
	
.close:hover,
.close:focus {
     color:black;
     text-decoration:none;
     cursor:pointer;	 
}	

.popup-header {
	background-color:#5c82b8;
	color: white;
	display:flex;
	padding:2px 16px;
}

.popup-body{ padding: 2px 16px;}

.popup-footer {
	padding: 2px 16px;
	background-color: #5c82b8;
	color:white;
}

.popup-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding:0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

#container {
	z-index:0;
    
}

#minimap {
    z-index: 9; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180pt;
    height: 180pt;
	border: 2px solid #000; /* Параметры рамки */
    background: url(map.png) 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
}

#indicator {
	position: absolute;
	z-index: 10;
	border: 2px solid red;
	width: 15pt;
	height: 15pt;
	left: 15px;
    bottom: 15px;
}

#isItLoaded {
  display: none;
}
#loading {
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.letter {
color: #1691BA;
font-size: 45px;
font-family: 'Gloria Hallelujah', cursive;
font-weight: bold;
height: 50px;
text-shadow: rgb(7, 13, 15) 2px 0px 0px, rgb(7, 13, 15) 1.75517px 0.958851px 0px, rgb(7, 13, 15) 1.0806px 1.68294px 0px, rgb(7, 13, 15) 0.141474px 1.99499px 0px, rgb(7, 13, 15) -0.832294px 1.81859px 0px, rgb(7, 13, 15) -1.60229px 1.19694px 0px, rgb(7, 13, 15) -1.97998px 0.28224px 0px, rgb(7, 13, 15) -1.87291px -0.701566px 0px, rgb(7, 13, 15) -1.30729px -1.5136px 0px, rgb(7, 13, 15) -0.421592px -1.95506px 0px, rgb(7, 13, 15) 0.567324px -1.91785px 0px, rgb(7, 13, 15) 1.41734px -1.41108px 0px, rgb(7, 13, 15) 1.92034px -0.558831px 0px;
animation: boing .5s ease-in-out infinite alternate;
    -webkit-animation: boing .5s ease-in-out infinite alternate;
}
@keyframes boing {
    0% {
        transform: scale(1.0);
        transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
    100% {
        transform: scale(1.15);
        transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
}	
	